* {
  font-family: "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.navigation .container {
  padding-top:25px;
}

li {
    list-style: none;
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
}

.navigation li {
    display: inline-block;
    margin-right:16px;
}
.align-right {
    text-align: right;
}
